@charset "UTF-8";

@font-face {
    font-family: 'WorkSans-b';
    src: url('../fontes/WorkSans-Bold.ttf');
}

@font-face {
    font-family: 'WorkSans-r';
    src: url('../fontes/WorkSans-Regular.ttf');
}

@font-face {
    font-family: 'WorkSans-sb';
    src: url('../fontes/WorkSans-SemiBold.ttf');
}

h1 {
    font-family: 'Worksans-b';
}