@charset "UTF-8";

@font-face {
    font-family: 'WorkSans-b';
    src: url('../fontes/WorkSans-Bold.ttf');
}

@font-face {
    font-family: 'WorkSans-r';
    src: url('../fontes/WorkSans-Regular.ttf');
}

@font-face {
    font-family: 'WorkSans-sb';
    src: url('../fontes/WorkSans-SemiBold.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

div.img-fundo {
    background: url('../imagens/background-pattern-mobile.svg');
    height: 30vh;
}

body {
    background-color: hsl(275, 100%, 97%);
}

main {
    position: relative;
    background-color: white;
    width: 420px;
    margin: auto;
    margin-top: -90px;
    border-radius: 10px;
    padding: 25px 25px 10px 25px;
}

header {
    padding: 0px 20px 20px 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

header > i > img {
  width: 23px;
  height: auto;
  padding-top: 5px;
}

header > h1 {
    color: hsl(292, 42%, 14%);
    font-size: 2.2em;
    font-family: 'WorkSans-b';
    margin-left: 20px;
}

article > section.Q1 {
  border-bottom: 1px solid rgba(43, 42, 42, 0.164);
}

section.Q1 > div.qs1 {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

section.Q1 > div.qs1 > h3 {
    font-family: 'WorkSans-sb';
    font-size: 1.1em;
    color: hsl(292, 42%, 14%);
    width: 72%;
}

section.Q1 > div.qs1 > i {
    width: 28%;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
}

section.Q1 > div.qs1 > i > img {
    padding-top: 5px;
    width: 30px;
}

section.Q1 > div.resp1 {
    display: none;
    padding-bottom: 20px;
}

section.Q1 > div.resp1 > p {
    color: hsl(292, 16%, 49%);
    font-family: 'WorkSans-r';
    font-size: 0.9em;
    width: 95%;
}

article > section.Q2 {
    border-bottom: 1px solid rgba(43, 42, 42, 0.164);
}

section.Q2 > div.qs2 {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 20px;
}

section.Q2 > div.qs2 > h3 {
    font-family: 'WorkSans-sb';
    font-size: 1.1em;
    color: hsl(292, 42%, 14%);
    width: 80%;
}

section.Q2 > div.qs2 > i {
    display: flex;
    flex-direction: row-reverse;
    width: 20%;
    padding-right: 20px;
}

section.Q2 > div.qs2 > i > img {
    width: 30px;
}

section.Q2 > div.resp2 {
    display: none;
    padding-bottom: 20px;
}

section.Q2 > div.resp2 > p {
    color: hsl(292, 16%, 49%);
    font-family: 'WorkSans-r';
    font-size: 0.9em;
    width: 95%;
}

article > section.Q3 {
    border-bottom: 1px solid rgba(43, 42, 42, 0.164);
}

section > div.qs3 {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 20px;
}

section > div.qs3 > h3 {
    font-family: 'WorkSans-sb';
    font-size: 1.1em;
    color: hsl(292, 42%, 14%);
    width: 65%;
}

section > div.qs3 > i {
    display: flex;
    flex-direction: row-reverse;
    width: 35%;
    padding-right: 20px;
}

section > div.qs3 > i > img {
    width: 30px;
}

section > div.resp3 {
    display: none;
    padding-bottom: 20px;
}

section > div.resp3 > p {
    color: hsl(292, 16%, 49%);
    font-family: 'WorkSans-r';
    font-size: 0.9em;
    width: 95%;
}

section > div.qs4 {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 20px;
}

section > div.qs4 > h3 {
    font-family: 'WorkSans-sb';
    font-size: 1.1em;
    color: hsl(292, 42%, 14%);
    width: 71%;
}

section > div.qs4 > i {
    display: flex;
    flex-direction: row-reverse;
    width: 29%;
    padding-right: 20px;
}

section > div.qs4 > i > img {
    width: 30px;
}

section > div.resp4 {
    display: none;
    padding-bottom: 20px;
}

section > div.resp4 > p {
    color: hsl(292, 16%, 49%);
    font-family: 'WorkSans-r';
    font-size: 0.9em;
    width: 95%;
}