@charset "UTF-8";

@font-face {
    font-family: 'WorkSans-b';
    src: url('../fontes/WorkSans-Bold.ttf');
}

@font-face {
    font-family: 'WorkSans-r';
    src: url('../fontes/WorkSans-Regular.ttf');
}

@font-face {
    font-family: 'WorkSans-sb';
    src: url('../fontes/WorkSans-SemiBold.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

div.img-fundo {
    background: url('../imagens/background-pattern-mobile.svg');
    height: 30vh;
}

body {
    background-color: hsl(275, 100%, 97%);
}

main {
    position: relative;
    background-color: white;
    width: 420px;
    margin: auto;
    margin-top: -100px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 25px 25px 10px 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

header {
    padding: 0px 20px 0px 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

header > i > img {
  width: 23px;
  height: auto;
  padding-top: 5px;
}

header > h1 {
    color: hsl(292, 42%, 14%);
    font-size: 2.2em;
    font-family: 'WorkSans-b';
    margin-left: 20px;
}

article > section.q {
    border-bottom: 1px solid rgba(43, 42, 42, 0.164); 
}

section.q > div.qst {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
}

section.q > div.qst > h3 {
    font-family: 'WorkSans-sb';
    font-size: 1.1em;
    color: hsl(292, 42%, 14%);
}

section.q > div.qst > h3:hover {
    color: #AD28EB;
}

section.q > div.qst > i {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
}

section.q > div.qst > i > img {
    padding-top: 5px;
    width: 30px;
}

section.q > div.resp {
    display: none;
    padding-bottom: 20px;
}

section.q > div.resp > p {
    color: hsl(292, 16%, 49%);
    font-family: 'WorkSans-r';
    font-size: 0.9em;
    width: 95%;
}

section.q > div.qst > h3.h1 {
    width: 72%;
}

section.q > div.qst > i.i1 {
    width: 28%;
}

section.q > div.qst > h3.h2 {
    width: 80%;
}

section.q > div.qst > i.i2 {
    width: 20%;
}

section.q > div.qst > h3.h3 {
    width: 65%;
}

section.q > div.qst > i.i3 {
    width: 35%;
}

section.q > div.qst > h3.h4 {
    width: 71%;
}

section.q > div.qst > i.i4 {
    width: 29%;
}

section#Q4 {
    border: none;
}